<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fun With Vue</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </head>
  <body>

    <div id="root" class="row">
      <div class="col-sm-3 box">
        <people-list-inline-template inline-template>
          <div>
            <p>Two way binding (local component data)</p>
            <input type="text" v-model="message">
            <p v-text="message"></p>

            <p>Looping with Vue</p>
            <ul>
              <li v-for="person in $store.state.people" v-text="person.name"></li>
            </ul>
              <p>Adults Only (filter with a computed value)</p>
            <ul>

              <li v-for="person in $store.getters.getAdults" v-text="person.name"></li>
            </ul>

            <!-- Using custom components and vue conditional, created dynamic error messages -->
            <error-alert v-if="nameError" header="Whoops!" msg="Please enter a name."></error-alert>
            <error-alert v-if="ageError" header="Whoops!" msg="Please enter an age."></error-alert>

            <input type="text" :placeholder="newNamePlaceholder" :class="{ 'error': nameError ? true: false }" v-model="newName" />
            <input type="number" min="0" max="100" :class="{ 'error': ageError ? true: false }" v-model="newAge" />
            <button type="button" class="btn btn-secondary" :disabled="addingName" @click="validateNewPerson">Add Name</button>
          </div>
        </people-list-inline-template>
      </div>

      <div class="col-sm-3 box">
        <task-list-inline inline-template>
          <div>
            <p>Rendering an ul with components</p>
            <p>Uncompleted Tasks</p>
            <task-list :list="taskList"></task-list>
            <p>Completed Tasks</p>
            <task-list :list="completedTaskList"></task-list>
          </div>
        </task-list-inline>
      </div>

      <div class="col-sm-3 box">
        <!-- Inline template with vue js component, will use this with Laravel -->
        <home-inline-template id="home-inline-template" inline-template>
          <div>

            <h1 v-text="title"></h1>

            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" @click="filterPage()">All</a>
                </li>
                <li class="page-item" v-for="each in homePageNavContent">
                  <a class="page-link" @click="filterPage(each.name)">{{ each.name }}</a>
                </li>
              </ul>
            </nav>

            <!-- Displaying each todo -->
            <ul class="list-group d-flex flex-column">
              <li v-if="each.page === search || !search" class="list-group-item list-group-item-action" v-for="each in getAllTasks" @click="displayDescription(each)">
                <p v-text="each.task"></p>
              </li>
            </ul>

          </div>
        </home-inline-template>

      </div>

      <div class="col-sm-3 box">
        <div class="row justify-content-center">
          <counter></counter>

        </div>
      </div>

      <msg-modal id="msg-modal"></msg-modal>
    </div>


    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vuex/dist/vuex.js"></script>
    <script src="node_modules/axios/dist/axios.js"></script>

    <!--  Load components first before creating new view model  -->
    <script type="module" src="main.js"></script>
  </body>
</html>
